Phonotactics(
	classes: [
		(
			name: "consonant",
			disparity: 5,
			phonemes: ["k", "g", "t", "d"],
		),
		(
			name: "vowel",
			disparity: 5,
			phonemes: ["a"],
		),
	],
	transitions: [
		(
			Start,
			[
				(1, Class("consonant")),
			],
		),
		(
			Class("consonant"),
			[
				(4, Class("vowel")),
				(1, End),
			],
		),
		(
			Class("vowel"),
			[
				(1, End),
			],
		),
	],
)
