(
	collapse_duplicates: true,
	start: ["Onset", "Nucleus", "Rest"],
	rules: {
		"Vowel": {
			["ʊ"]: 5,
			["a"]: 5,
			["e"]: 5,
			["ɪ"]: 5,
			["i"]: 4,
			["u"]: 3,
			["o"]: 4,
		},
		"Glide": {
			["y"]: 3,
			["w"]: 2,
		},
		"Liquid": { ["l"]: 1 },
		"Nasal": {
			["ŋ"]: 3,
			["n"]: 5,
			["m"]: 4,
		},
		"VoicelessFlap": { ["x"]: 1 },
		"VoicedFlap": { ["r"]: 1 },
		"VoicelessFricative": {
			["h"]: 3,
			["s"]: 5,
			["c"]: 7,
			["θ"]: 8,
			["f"]: 6,
		},
		"VoicedFricative": {
			["q"]: 3,
			["z"]: 5,
			["j"]: 7,
			["ð"]: 8,
			["v"]: 6,
		},
		"VoicelessPlosive": {
			["k"]: 6,
			["t"]: 5,
			["p"]: 3,
		},
		"VoicedPlosive": {
			["g"]: 6,
			["d"]: 5,
			["b"]: 3,
		},
		// Weights for plosive-fricative clusters are the product of the weights
		// of the plosive and fricative, except that affricates are weighted
		// (arbitrarily) higher. The nonphonemic affricates /tl/ and /dl/ are
		// also included. The clusters /tx/, /px/, /dq/, and /pq/ are not
		// generated.
		"VoicelessPlosiveFricative": {
			["k", "h"]: 36, // Affricate
			["k", "s"]: 30,
			["k", "c"]: 42,
			["k", "θ"]: 48,
			["k", "f"]: 36,
			["t", "s"]: 70, // Affricate
			["t", "c"]: 80, // Affricate
			["t", "θ"]: 60, // Affricate
			["t", "l"]: 40, // Affricate
			["t", "f"]: 30,
			["p", "s"]: 15,
			["p", "c"]: 21,
			["p", "θ"]: 24,
			["p", "f"]: 18,
		},
		"VoicedPlosiveFricative": {
			["g", "q"]: 36, // Affricate
			["g", "z"]: 30,
			["g", "j"]: 42,
			["g", "ð"]: 48,
			["g", "v"]: 36,
			["d", "z"]: 70, // Affricate
			["d", "j"]: 80, // Affricate
			["d", "ð"]: 60, // Affricate
			["d", "l"]: 40, // Affricate
			["d", "v"]: 30,
			["b", "z"]: 15,
			["b", "j"]: 21,
			["b", "ð"]: 24,
			["b", "v"]: 18,
		},
		"Onset": {
			["VoicelessOnset"]: 1,
			["VoicedOnset"]: 1,
		},
		"Nucleus": {
			["Vowel"]: 5,
			["Vowel", "Glide"]: 1,
		},
		"Rest": {
			[]: 3,
			["Coda"]: 12,
			["VoicedCoda", "VoicedOnset", "Nucleus", "Rest"]: 2,
			["VoicelessCoda", "VoicelessOnset", "Nucleus", "Rest"]: 2,
		},
		"VoicelessOnset": {
			["Glide"]: 6,
			["Liquid"]: 3,
			["Nasal"]: 9,
			["VoicelessFlap"]: 2,
			["VoicelessFricative"]: 12,
			["VoicelessFricative", "Liquid"]: 2,
			["VoicelessPlosive"]: 8,
			["VoicelessPlosive", "Glide"]: 3,
			// The next two rules can both produce the nonphonemic digraph
			// affricate /tl/.
			["VoicelessPlosive", "Liquid"]: 2,
			["VoicelessPlosiveFricative"]: 6,
		},
		"VoicedOnset": {
			["Glide"]: 6,
			["Liquid"]: 3,
			["Nasal"]: 9,
			["VoicedFlap"]: 2,
			["VoicedFricative"]: 12,
			["VoicedFricative", "Liquid"]: 2,
			["VoicedPlosive"]: 8,
			["VoicedPlosive", "Glide"]: 3,
			// The next two rules can both produce the nonphonemic digraph
			// affricate /dl/.
			["VoicedPlosive", "Liquid"]: 2,
			["VoicedPlosiveFricative"]: 6,
		},
		"Coda": {
			["VoicelessCoda"]: 1,
			["VoicedCoda"]: 1,
		},
		"VoicelessCoda": {
			["Liquid"]: 4,
			["Nasal"]: 12,
			["VoicelessFlap"]: 2,
			["VoicelessFricative"]: 15,
			["VoicelessPlosive"]: 9,
			["VoicelessPlosiveFricative"]: 12,
		},
		"VoicedCoda": {
			["Liquid"]: 4,
			["Nasal"]: 12,
			["VoicedFlap"]: 2,
			["VoicedFricative"]: 15,
			["VoicedPlosive"]: 9,
			["VoicedPlosiveFricative"]: 12,
		},
	},
)
