(
	classes: {
		"consonant": {
			"k": 1,
			"g": 1,
			"t": 1,
			"d": 1,
		},
		"vowel": {
			"uh": 1,
			"a": 1,
			"e": 1,
			"ih": 1,
			"i": 1,
			"u": 1,
			"o": 1,
		},
	},
	states: {
		Start: (
			emit: None,
			transition_weights: {
				State("consonant"): 4,
				State("vowel"): 1,
			},
		),
		State("consonant"): (
			emit: Some("consonant"),
			transition_weights: {
				State("vowel"): 4,
				End: 1,
			},
		),
		State("vowel"): (
			emit: Some("vowel"),
			transition_weights: {
				End: 2,
				State("consonant"): 1,
			},
		),
	},
)
