(
	classes: {
		"consonant": {
			"b": 5,
			"c": 4,
			"d": 3,
			"f": 2,
			"g": 1,
		},
		"vowel": {
			"a": 5,
			"e": 4,
			"i": 3,
			"o": 1,
			"u": 2,
		},
	},
	states: {
		Start: (
			emit: None,
			transition_weights: {
				State("consonant"): 4,
				State("vowel"): 1,
			},
		),
		State("consonant"): (
			emit: Some("consonant"),
			transition_weights: {
				State("vowel"): 1,
			},
		),
		State("vowel"): (
			emit: Some("vowel"),
			transition_weights: {
				State("consonant"): 2,
				End: 1,
			},
		),
	},
)
